.container {
    width: 100%;
    margin: auto;
    padding-top: 2rem;
}
.navbar li {
    list-style-type: none;
    text-decoration: none;
}

.navbar {
    width: 30%;
    margin: auto;
    display: flex;
    justify-content: space-between;
}